---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header';
import Hero from '../components/Hero';
import Stats from '../components/Stats';
import Services from '../components/Services';
import MonthlyOffers from '../components/MonthlyOffers';
import Support from '../components/Support';
import ABAMethod from '../components/ABAMethod';
import ContactForm from '../components/ContactForm';
import Footer from '../components/Footer';
---

<Layout title="Home">
  <Header client:load />
  <main>
    <Hero client:load />
    <Stats client:load />
    <Services client:load />
    <MonthlyOffers client:load />
    <Support client:load />
    <ABAMethod client:load />
    <ContactForm client:load />
  </main>
  <Footer client:load />
</Layout>
